.fun-second-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-bottom: 10vh;
    background-color: black;
    --fun-background-color: rgb(112, 67, 103)


}
    
.bucket-list {
    width: 50%;
    height: auto; 

}
    

.fun-second-section ul {
    text-align: left;
    padding-left: 6vw;
    padding-right: 5vw;
}

ul:not(.show-decoration) {
    list-style-type: none;

}

.learning-tools {
    width: 50%;
    height: auto;
}


h2 {
    text-align: center;
    padding-bottom: 25px;
    color: white;
    padding-top: 30px;
    font-size: clamp(25px, 3vw, 35px);
}

.fun-second-section li {
    color: white;
    font-size: clamp(14px, 1.5vw, 16x);

}

.footer {
    width: 100%;
    background-color: var(--fun-background-color);
    height: 10vh;
    text-align: center;
    margin: 10px auto;
    color: white;
}

@media (max-width: 713px) {
    .fun-second-section {
        flex-direction: column;
        gap: 3vh;
    }
    .learning-tools, .bucket-list {
        width: 100%;
        padding-left: 8.5vw;
        padding-right: 8.5vw;
    }

    .fun-second-section ul {
        font-size: clamp(8px, 11vw, 13px);
    } 
}
