.university-section {
    padding-top: 70px;
    width: 100%;
    height: auto; 
    padding-bottom: 7vh;
    
}

.university-row {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 3vw;
}

.description{
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 17vw;
    padding-right: 2vw;
}

h1, h2 {
    font-size: clamp(30px, 35vw, 40px);
}

h1 {
    background-color: white;
    width: fit-content;
    margin-bottom: 4vh;
    box-shadow: 10px 10px black;
}

.university-row p {
    font-size: clamp(14px, 1.5vw, 16px);
}

.grad-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: auto;
    /*border: 1px solid black;*/
}

.grad-img img {
    border-radius: 50%;
    box-shadow: 20px 20px black;
    width: clamp(275px, 32vw, 350px);
    /*min-width: 350px;*/
    height: auto;
}

.awards-section {
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
    padding-bottom: 6vh;
}

h2 {
    color: white;
    padding-top: 30px;
    padding-bottom: 15px;
}

.awards-gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 10vh;
}

.award {
    width: 30vw;
    height: clamp(200px, 225vw, 250px);

}

img {
    width: 80%;
    height: 80%;
    border-radius: 5%;
    border: 1px solid white;
    object-fit: cover;
}

h3 {
    padding-top: 20px;
    color: white;
    font-size: clamp(11px, 1.4vw, 16px);
    padding-bottom: 1vh;
}

.awards-section p {
    color: white;
    font-size: clamp(10px, 1.2vw, 14px);

}

@media (max-width: 800px) {
    .university-row {
        flex-direction: column-reverse;
    }

    .university-row h1, h2 {
        font-size: clamp(23px, 2.4vw, 25px);
    }
    .university-row p {
        font-size: clamp(12px, 1.3vw, 14px);
    }

    .grad-img {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding-bottom: 5vh;
    }

    .description {
        width: 100%;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .awards-gallery {
        flex-direction: column;
        gap: 10vh;
       
    }
    .award {
        width: 100%;
        padding-bottom: 5vh;
    }

    .award img {
        max-width: 315px;
    }
    
    .award h3 {
        font-size: clamp(14px, 1.5vw, 16px);
    }
    .award p {
        padding-left: 21vw;
        padding-right: 21vw;
        font-size: clamp(12px, 1.3vw, 13px);
    }
}