.home-second-section {
    background-color: black;
    width: 100%;
    text-align: center;
}

.home-second-section h2{
    font-size: clamp(30px, 5.5vw, 65px);;
    color: white;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /*aligns along the center of the screen*/
    align-items: center; /*alings items in the center of their container*/
    margin: 0 auto;
    gap: 5vw;

}

.home-gallery-item {
    width: 22vw;
    min-width: 250px;
    height: 22vh;
    min-height: 44vh;

}

.gallery img {
    /*flex: 1 1 auto;*/
    width: 200px;
    height: 200px;
    padding: 20px 20px;
    object-fit: contain; /* similar to scaledtofit() in swift */
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1) translateY(-7px);
    box-shadow: 0px 0px 20px -5px white; /* Glow effect */
}

.gallery #frenz {
    background-color: black;
}

.gallery #pickpackgo {
    background-color: red;
}

.gallery #pirx {
    background-color: black;
}

.gallery figcaption{
    color: white;
    font-weight: bold;
    font-size: clamp(16px, 1.8vw, 20px);
    padding-top: 10px;
    padding-bottom: 7px;

}

.gallery p {
    color: white;
    width: 100%;
    margin: 0 auto;
    font-size: clamp(13px, 1.4vw, 15px);

}

.home-third-section {
    background-color:  var(background-color);
    width: 100%;
    height: 10vh;
    text-align: center;
    margin: 10px auto;
}

@media(max-width: 526px){
    .home-second-section {
        height: 160vh;
    }
}

@media (min-width: 527px) and (max-width: 834px) {
    .home-second-section {
       height: 120vh;
    }
}

@media(min-width: 835px) {
    .home-second-section{
        height: 85vh;
    }
}