.home-first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    margin: 0 auto;
    padding-top: 75px;
    height: 85vh;
    border-bottom: 2px solid black;
}

.home-content h1{
    font-size: clamp(40px, 7.5vw, 90px);;
    line-height: 1.3;

}

.home-content p {
    font-size: clamp(12px, 1.5vw, 16.5px);
    width: 90%;
}

.home-content {
    max-width: 70vh;
}

.home-img-container {
    width: clamp(230px, 25vw, 350px);
    height: auto;
    position: relative; /* Moves an element from its original position while leaving other elements in place */
    margin-top: 10px;
}

.circle-1 {
    width: 120%; 
    height: 100%;
    border: 1.5px solid white;
    border-radius: 50%; 
    position: absolute; /* Allow positioning */
    top: 50%; /* Center vertically in parent */
    left: 50%; /* Center horizontally in parent */
    transform: translate(-55%, -50%); /* Align the circle's center with parent's center */
    z-index: -2; /* Ensure it appears behind .home-img */
    background-color: black;
} 

.circle-2 {
    width: 110%; 
    height: 100%;
    border: 1.5px solid black;
    border-radius: 50%; 
    position: absolute; /* Allow positioning */
    top: 50%; /* Center vertically in parent */
    left: 50%; /* Center horizontally in parent */
    transform: translate(-40%, -45%); /* Align the circle's center with parent's center */
    z-index: -2; /* Ensure it appears behind .home-img */
    background-color: white;
} 

.home-img img{
    position: relative;
    z-index: -1;
    width: 100%;
    border-radius: 50%;
    
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border-radius: 50%;
    font-size: clamp(25px, 3vw, 50px);
    margin-right: 0.9vw;
    margin-top: 0.9vw;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: white;
    border-color: white;
    transform: scale(1.1) translateY(-5px);
}


@media(max-width: 1000px) {
    .home-first-section {
        gap: 4rem;
    }   
}

@media(max-width: 995px) {
    .home-first-section {
        flex-direction: column;
        padding:  25rem 2rem;
    }
    
}
