* {
    box-sizing: border-box;
    font-family: "Sora", serif;
    margin: 0;
    padding: 0;
    border: none;
    --background-color: #DAB1DA
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
}

#projects-page {
    background-color: black;
}

shared-navbar .navdiv a {
    color: white;
    
}

.coding-projects-section {
    width: 100%;
    /*height: 210vh;*/
    height: auto;
    padding-bottom: 7rem;
    background-color: black;
    text-align: center;
    border-bottom: 3px solid white;

}

.coding-projects-section h1 {
    margin: 0 auto;
    padding-top: 100px;
    color: white;
    font-size: clamp(30px, 3.5vw, 40px);
    
}

.project-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    padding-top: clamp(25px, 5.0vw, 100px);
    padding-bottom: clamp(25px, 3.0vw, 50px);
}

.project-writing {
    width: 35vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-writing header {
    text-align: left;
    font-weight: bold;
    color: white;
    font-size: clamp(25px, 2.7vw, 30px);
    padding-bottom: 10px;

}

.project-section p {
    color: white;
    text-align: left;
    font-size: clamp(13px, 1.4vw, 16px);
}

.project-section u {
    color: white;
}

.project-img {
    width: 40vw; 
    min-width: 300px;
    max-width: 350px; 
    height: auto;
    text-align: left;
    position: relative;
}

.project-img div {
    width: 120px;
    height: 30px;
    background-color: black;
    box-shadow: 3.5px 3.5px white;
    border: 1px solid white;
    position: absolute;
    top: -10px;
    left: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img p {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.project-img img{
    width: 100%;
    height: auto;
    border: 1px solid white;
    box-shadow: 6px 8px white;
}

.marketing-projects-section {
    width: 100%;
    height: auto; /* change this later to auto */
    padding-bottom: 7rem;
    background-color: rgb(71, 56, 98);
    text-align: center;
    
}   

.marketing-projects-section h2 {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 40px;
    color: white;
    font-size: clamp(30px, 3.5vw, 40px);

}

.marketing-projects-section .gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    width: 100%;
}

.marketing-cell {
    min-width: 265px;
    width: 21vw;
    margin: 0 1vw;
}

.marketing-cell img {
    min-width: 265px;
    width: 100%;
    aspect-ratio: 3 / 2; /* 30vw:20vw ratio */
    object-fit: cover; /* Or contain */
    border-radius: 6%;
}

.proj-date {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.proj-date figcaption {
    font-size: clamp(12px, 1.25vw, 13px);
    text-align: left;
    padding-right: 10px;
    color: white;
}

.proj-date div {
    flex-grow: 1; 
    height: 1px;
    background-color: white; 
}

.marketing-cell h1, p{
    color: white;
    text-align: left;
    padding-top: 15px;
}

.marketing-cell h1 {
    font-size: clamp(16px, 1.65vw, 18px);

}

.marketing-cell p {
    font-size: clamp(12px, 1.3vw, 14px);
    height: 4rem;
}

@media (max-width: 550px){
    .project-section {
        flex-direction: column;
        align-items: center;

    }

    .project-writing {
        width: 100vw;
        padding: 20px 40px;
    }
    .project-img {
        width: 55vw;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 639px) {
    .marketing-projects-section .gallery {
        flex-direction: column;
        align-items: center;
    }
    .marketing-cell {
        width: 70vw;
    }
    .marketing-cell img {
        width: 100%;
    }
}