*{
    box-sizing: border-box;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #DAB1DA;
    height: 65px;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    position: fixed;
    border-bottom: 1.5px solid black;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
}

.navdiv li {
    list-style: none;
    display: inline-block;
}

.navdiv a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .navdiv a {
        margin-right: clamp(10px, 2vw, 20px);
        font-size: clamp(14px, 2vw, 20px); /* Shrinks and grows based on viewport width */
    }
}
